# HWBinder IPC from client to server
binder_call(hal_aosp_smartcharge_client, hal_aosp_smartcharge_server)

add_hwservice(hal_aosp_smartcharge_server, hal_aosp_smartcharge_hwservice)
allow hal_aosp_smartcharge_client hal_aosp_smartcharge_hwservice:hwservice_manager find;

# Allow binder communication with platform_app
binder_call(hal_aosp_smartcharge, platform_app)

